.burgermenu , .contactus{
   display: none;
}



@media screen and (max-width:1400px) {

    .burgermenu{
        display: block;
        margin-left: 11px;
    }
    
}

@media screen and (max-width:600px) {
    .contactus{
        display: block;
    }
    
}