.container{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 160px;
    .section1{
        .heading{
            width: 477px;
            font-weight: 800;
            font-size: 44px;
            line-height: 50px;
            color: #1F2428;
            margin-bottom: 40px;
        }
    }
}