.bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
    align-items: center;
    margin-bottom: 54px;
    box-shadow: 0px 0px 70px rgba(138, 138, 138, 0.1);
border-radius: 16px;
    .tabbtn{
        background: #fff;
        border: none;
        cursor: pointer;
    }
}